body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center{
    max-width: 1100px;
    padding: 0 2px;
}
/*Content-header*/
html{ 
    overflow-x: hidden;
}
header{
    background-color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 3px 2px 9px black;
} 
header nav.desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
}
header nav.desktop ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin: 0 10px;
}
header ul li a{
    text-decoration: none;
    color: #000;
}
header ul li a:hover{
    color: rgb(126, 217, 87);
}
/*botão*/
header nav.desktop div.mobile-menu-icon{
    display: none;
    font-size: 30px;
}
header div.box-mobile{
    display: none;
}
header div.box-mobile.open{
    display: block;
}
header div.box-mobile.open ul{
    list-style: none;
    padding: 0;   
}
header div.box-mobile.open ul li{
   text-align: center;
   margin: 10px 0 ;
   padding: 5px; 
}
section.banner-principal{
    background-image: url(../IMG/BG-BC3.JPEG);
    background-size: cover;
    width: 100%;
    height: 900px;
    position: relative;
}
section.banner-principal div.center{
    width: 1200px;
    margin-left: 15%;
    margin-right: 15%;
}
section.banner-principal p.description.white{
    font-size: 16pt;
    line-height: 25px;
}
span{
    color: rgb(126, 217, 87);
}
section div.overlay{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.605);
    z-index: 1;
    justify-content:flex-start;
    align-items: center;
    display: flex;
}
section h1{
    font-size: 50pt;
    color: #fff;
}
section p.decriprion{
    font-size: 15pt;
}
.white{
    color: #fff;
}
.black{
    color: #000;
}
section input{
    border-radius:30px ;
    font-size: 20px;
    background-color: rgb(126, 217, 87);
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 25px 0;
}
section input:hover{
    background-color: rgb(114, 228, 1);
}
section.content-sobre{
    background-color: rgb(126, 217, 87);
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px 0;
}
section div.content-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
section.content-sobre h2{
    color: #fff;
    font-size: 30pt;
}
section.content-sobre-itens{
    background-color: rgb(10, 141, 141);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
section div.box-itens{
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 6px 6px 6px black;
    color:rgb(1, 114, 114) ;
    margin: 10px;
}
section div.box-icon-description{
    text-align: center;
    padding: 30px;
}
p.description.white{
    font-size: 17.5pt;
}
section i{
   font-size: 70px;
}
.darkcyan{
    color: rgb(10, 141, 141);
}
section.content-map{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.box-map{
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px; 
}
section div.content-box-map{
    width: 1100px;
    margin: 0;
}
section h2.darkcyan{
    font-size: 30pt;
    margin: 0;
}
section.content-download{
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.content-box-decription{
    padding: 30px;
}
section a{
    padding: 20px;
}
section.content-links{
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px 0;
}
section.content-links div.content-box{
    margin-bottom: 30px;
}
section div.box-itens-radius{
    background-color: rgb(10, 141, 141);
    color: #fff;
    border-radius: 20px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px black;
    margin: 20px;
    cursor: pointer;
}
section div.box-itens-radius:hover{
    background-color: rgb(7, 169, 169);
}
section h2.centro{
    text-align: center;
    margin-bottom: 30px;
}
section.content-duvidas{
    background-color: rgb(10, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}
section.content-duvidas div.box-content-duvidas{
    margin: 50px;
}
section div.duvidas-bar{
    background-color: rgb(238, 237, 237);
    border-radius: 25px;
    height: 50px;
    display: flex;
    padding:  0 30px;
    margin: 20px;
    font-size: 15px;
    justify-content: space-between;
    width: 1000px;
    box-shadow: 6px 3px 6px black;
    cursor: pointer;
}
section i.fa-solid.fa-plus{
 font-size: 20px;
 margin-top: 15px;
 margin-bottom: 15px;
}
section h2.white{
    font-size: 40px;
}
section div.hidden-description{
    display: none;
}
section div.active{
    display: block;
}
section p.p-duvida{
    padding: 20px 30px;
}
section.content-contatos{
    height: 400px;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.box-contatos{
    padding: 30px;
}
section.content-contatos div.center{
    width: 1000px;
}
footer.content-footer{
    height: 200px;
    background-color: rgb(10, 141, 141);
    display: flex;
    justify-content:center;
    align-items: center;
}
footer div.box-content-footer{
    width: 1000px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
}
footer i{
    font-size: 40px;
    margin: 0 10px;
    color: #fff;
}
@media screen and (max-width:1440px){
    section.content-sobre-itens div.content-box{
      flex-wrap: wrap-reverse;
    }
    section.content-sobre div.content-box{
        flex-wrap: wrap-reverse;
    }
    section.content-map div.content-box-map{
        width: 700px;
    }
    section.content-download div.content-box{
        flex-wrap: wrap;
    }
    section.content-links div.content-box{
        flex-wrap: wrap;
    }
    section.content-duvidas div.duvidas-bar{
        width: 700px;
        height: auto;
    }
    section.content-contatos div.center{
        width: 700px;
    }
}
@media screen and (min-width:770px){
    header.content-header div.box-mobile{
        display: none;
    }
}
@media screen and (max-width:770px){
    section.content-map div.content-box-map{
        width: 400px;
    }
    section.content-duvidas div.duvidas-bar{
        width: 340px;
        font-size: 10px;
        font-weight: bold;
    }
    section.content-contatos div.center{
        width: 400px;
    }
    header nav.desktop ul{
        display: none;
    }
    header nav.desktop div.mobile-menu-icon{
        display: block;
    }
    section p.p-duvida{
        width: 400px;
    }
    section.banner-principal div.center{
        margin-left: 5%;
        margin-right: 5%;
    }
    section.banner-principal p.description.white{
        font-size: 15pt;
    }
    section div.box{
        padding: 60px;
    }
    section.content-duvidas div.duvidas-bar p{
        font-size: 12pt;
    }
    section div.box-itens{
        width: 400px;
    }
    section.content-sobre div.box p{
        font-size: 15pt;
    }
    /*jv_vj*/
}